{% load static %}

<footer class="footer mt-auto py-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>درباره سیمرغ</h5>
        <p>
          نوآوری هوشمند برای سلامت آینده. ما در توسعه سلامت هوشمند سیمرغ متعهد
          به ادغام تکنولوژی در سلامت و ارتقای کیفیت خدمات درمانی هستیم. برای
          اطلاعات بیشتر به صفحه درباره ما مراجعه کنید.
        </p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>لینک های سریع</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{%url 'index'%}" class="text-decoration-none text-dark"
              >صفحه اصلی</a
            >
          </li>
          <li>
            <a href="{%url 'news'%}" class="text-decoration-none text-dark"
              >اخبار و اطلاعیه ها</a
            >
          </li>
          <li>
            <a href="{%url 'products'%}" class="text-decoration-none text-dark"
              >معرفی محصولات</a
            >
          </li>
          <li>
            <a href="{%url 'about'%}" class="text-decoration-none text-dark"
              >درباره ما</a
            >
          </li>
          <li>
            <a
              href="{%url 'contact-us' %}"
              class="text-decoration-none text-dark"
              >تماس با ما</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>اطلاعات تماس</h5>
        <p>
          <i class="fas fa-envelope"></i> ایمیل:
          <a
            href="mailto:a.ghanbari@kmu.ac.ir"
            class="text-decoration-none text-dark"
            >a.ghanbari@kmu.ac.ir</a
          ><br />
          <i class="fas fa-map-marker-alt"></i> آدرس: کرمان، بلوار جمهوری
          اسلامی، پارک علم و فناوری سلامت کرمان
        </p>
        <div class="social-icons mt-3">
          <a href="placeholder" target="_blank" class="text-decoration-none"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="placeholder" target="_blank" class="text-decoration-none"
            ><i class="fab fa-telegram-plane"></i
          ></a>
          <a href="placeholder" target="_blank" class="text-decoration-none"
            ><i class="fab fa-twitter"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="text-center mt-4 border-top pt-3">
      <p>&copy; 2025 توسعه سلامت هوشمند سیمرغ. تمامی حقوق محفوظ است.</p>
    </div>
  </div>
</footer>
