{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>فناوران درمان فردا</title>
    <link
      rel="icon"
      href="{% static 'images/primary-favicon.png' %}"
      type="image/jpeg"
    />
    <link rel="stylesheet" href="{% static 'compiled_assets/css/main.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'compiled_assets/css/font.css' %}" /> -->
  </head>
  <body>
    <header>{% include "navbar.html" %}</header>

    {% block content %} {% endblock content %} {%include 'footer.html' %}

    <script src="{% static 'compiled_assets/js/main.js' %}"></script>
    <script src="{% static 'compiled_assets/js/custom.js' %}"></script>
  </body>
</html>
